/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** fonts ******************/

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/** indhold **/
.baggrund {
  background-image: url("forside_imgs/background.webp"); /* skriv dit billede her */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 125px 20px; /* så der kommer luft omkring h1 og p */
  text-align: center;
}

.intro h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
  margin-top: 110px;
  font-size: 3rem;
}

.intro p {
  font-family: "Libre Baskerville", serif;
  color: #ffffff;
  text-align: center;
  margin: 20px auto;
  max-width: 523px;
  margin-top: 60px;
}
.temaer-titel h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: #cc99a8;
  text-align: center;
  margin-top: 60px;
}
h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 30%; /* her styrer du hvor meget længere end teksten */
  background-color: #c58ca4;
  margin: 10px auto 0 auto; /* centrerer stregen */
}

/** grid bokse **/

.tema-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 55px 60px 60px;
}

.tema-boks {
  background-color: #a5c3b0;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

  /* gør hele boksen klikbar */
  text-decoration: none;
  color: black;
  transition: background-color 0.3s, transform 0.2s;
}
.tema-grid a {
  font-family: "Libre Baskerville", serif;
  color: #ffffff;
}
.tema-boks:hover {
  background-color: #cc99a8;
  transform: scale(1.05);
}

/*************** Menu ****************/

header {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.logo img {
  width: 60px;
  height: 60px;
}
.nav-menu {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #591730;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #591730;
}

@media (max-width: 800px) {
  header {
    display: none;
  }
}

/*************** burger menu ******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 60px;
  height: 60px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #591730;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #591730;
}

.burger {
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
